* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa';
}

h1 {
  padding: 1rem;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
}

img {
  padding: 2rem 0;
}


.nav {
  position: fixed;
  top: 0rem;
  z-index: 2;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch; 
  height: auto;
  box-shadow: 0rem 0rem 0.5rem 0.3rem  rgb(216, 216, 216);
  
}

.nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: stretch;
  height: 5rem;

  
  
}

.nav a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;    
  font-size: 1.5rem;
  padding: 0 2rem;
  color: rgb(115, 173, 204);
}


.nav a:hover {
  text-shadow: 0rem 0rem 0.5rem   rgb(154, 190, 215);
  
 
}

.nav a:active {
  color: rgb(255, 255, 255);
 
}

.nav a.siteTitle {
  font-size: 2rem;
  height: auto;
  font-weight: bolder;
}

.mainContainer {
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  
}

.search {
  position: fixed;
  z-index: 2;
  top: 1.3rem;
  left: 25%;  
  right: 50%;
  height: 2.3rem;
  border-radius: 0.7rem;
  text-align: center;
  font-size: 1.4rem;
  background-color: rgb(243, 243, 243);
  border: none;
}

.homeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.postContainer {
  position: relative;
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  text-decoration: none;
  margin: 2rem;
  padding: 4rem;
  box-shadow: 0rem 0rem 1rem 0.2rem rgb(231, 231, 231);
  border-radius: 2rem;
  min-height: 10rem;
  max-width: 35rem;
  width: 100%;
  min-width: 20rem;
  overflow: hidden;
  border: 0.2rem solid white;
}

.postContainer:hover {
  box-shadow: 0rem 0rem 1rem 0.2rem rgb(208, 207, 207);
}

.postContainer a {
  font-size: 0.7rem;
  text-decoration: none;
  color: black;
  text-align: left;
}

.author {
  position: absolute;
  bottom: 2rem;
  left: 4rem;
  color: lightblue;
  font-weight: bold;
}

.subreddit {
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  color: lightgrey;
}

.favoritesButton {
  position: absolute;
  top: 0rem;
  right: -2rem;
  font-size: 1.5rem;
  font-weight: bolder;
  color: darkgray;
  cursor: pointer;
  background-color: white;
  height: 3rem;
  width: 7rem;
  text-align: center;
  transform: rotate(-135deg);
  
}

.favoritesButton:hover {
  color: white;
  background-color: rgb(255, 230, 86);
  transition:0.3s;
}

.plusButton {
  transform: rotate(135deg);
}

.stats {
  font-size: 1.2rem;
  font-weight: bold;
  width: 5rem;
  height: 100%;
  text-align: left;

}

.info {
  flex-grow: 1;
  width: auto;
  
}

.upArrow {
  padding: 0;
  position: relative;
  left: -0.3rem;
}


[favoriteMode='On'] {
  border: 0.2rem solid yellow;
}





@media only screen and (max-width: 1000px) { 

  h2 {
    font-size: 1rem;
  }

  .nav {
      justify-content: space-around;
      align-items: stretch; 
      padding: 1.5rem 0 ; 
  }

  .nav a.siteTitle {
      font-size: 2.5rem;
  }

  .nav ul {    
    height: 3rem;
  }

  .nav a {
    
      text-decoration: none;
      height: 100%;
      display: flex;
      align-items: center;    
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
  }



  .mainContainer {
    padding: 1.5rem;
    
  }



  .author {
    position: absolute;
    bottom: 2.5rem;
    left: 1.5rem;
    right: auto;
    color: lightblue;
    font-weight: bold;
    font-size: 0.8rem;
  }
  
  .subreddit {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    color: lightgrey;
    font-size: 0.7rem;
    text-align: left;
    
  }


  .postContainer {
   
    font-size: 1rem;
    margin: 1rem 0;
    padding: 3rem 1.5rem;
    min-height: 10rem;
    width: 100%;
    min-width: 0rem;
    overflow: hidden;
    border: 0.2rem solid white;
    gap: 1rem;
    border-radius: 1.5rem;
    
  }


  .stats {
    font-size: 1rem;
    font-weight: bold;
    width: auto;
    height: 100%;
    text-align: left;
  
  }

  .search {
    background-color: white;
    z-index: 2;
    top: auto;
    bottom: 2rem;
    left: 10%;  
    right: 10%;
    height: 2.5rem;
    border-radius: 0.7rem;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 1rem 0.1rem lightgrey;
    
  }
  

  [favoriteMode='On'] {
    border: 0.2rem solid yellow;
  }


}
