* {
  margin: 0;
  padding: 0;
  font-family: 'Calibri Light';
}


img {
  padding: 2rem 0;
}

.mainContainer {
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.search {
  height: 2rem;
  width: 30%;
  min-width: 25rem;
  border-radius: 1rem;
  text-align: center;
  margin: 2rem 2rem 5rem 2rem;
  font-size: 1.5rem;


  
}

.homeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.articleContainer {
  position: relative;
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  text-decoration: none;
  margin: 2rem;
  padding: 4rem;
  box-shadow: 0rem 0rem 1rem 0.2rem lightgray;
  border-radius: 3rem;
  min-height: 10rem;
  max-width: 35rem;
  width: 100%;
  min-width: 20rem;
}

.articleContainer a {
  font-size: 0.7rem;
  text-decoration: none;
  color: black
}

.author {
  position: absolute;
  bottom: 2rem;
  left: 5rem;
  color: lightblue;
  font-weight: bold;
}

.stats {
  width: 5rem;
  height: 100%;

}

.info {
  flex-grow: 1;
  width: auto;
  
}